# Python
__pycache__/
*.py[cod]

# Virtual Env
.venv/
venv/

# Environment
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Data
work/data/**
!work/data/raw/
!work/data/processed/
!work/data/raw/.gitkeep
!work/data/processed/.gitkeep

# Models
work/models/**
!work/models/.gitkeep

# Outputs
work/outputs/**
!work/outputs/.gitkeep

# Cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Logs
*.log
